<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Roda da Fortuna</title>

    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/estilo.css">

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="bower_components/javascript-winwheel/Winwheel.js"></script>
    <script src="bower_components/gsap/src/minified/TweenMax.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/services/valoresRodaService.js"></script>

</head>
<body ng-app="myApp" class="body">

    <div ng-controller="myCtrl">


        <div class="col-md-3">
            Participantes

            <div class="panel panel-default" ng-repeat="pessoa in pessoas">
                <div class="panel-body" ng-class="pessoa == pessoaSelecionada ? 'participante-selecionado' : 'participante-naoselecionado'">

                    <div class="col-md-6 text-left">{{pessoa.nome}}</div>
                    <div class="col-md-6 text-right">{{pessoa.valor}} Reais</div>



                </div>
            </div>


        </div>

        <div class="col-md-5">
            <canvas id='spinWheel' width='690' height='647'  >
                Canvas not supported, use another browser.
            </canvas>

        </div>


        <div class="col-md-4">

            <div class="row">
                <label class="letraEscolhida" ng-repeat="letra in letras track by $index">{{letra}}</label>
            </div>

            <div class="left">
                <div class="col-md-2 painelletra text-center" style="margin-top: 20%;" ng-repeat="painelLetra in painelLetras">
                    <div class="text-center">

                        {{painelLetra.mostrar ? painelLetra.letra : ""}}
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-4">

            <div class="row">
                <button class="btn btn-default" ng-click="girarRoda()" ng-disabled="btnRoda">Girar Roda</button><br/>
            </div>

            <div class="row">
                <label>Letra:</label>
                <input style="width: 30px" type="text" maxlength="1" ng-model="letra"><br/>
            </div>
            <div class="row">

                <button class="btn btn-default" ng-click="escolherLetra()" ng-disabled="btnLetra">Escolher Letra</button>
            </div>
            <div class="row">

                <button class="btn btn-default" ng-click="proximaPessoa()" ng-disabled="btnPessoa">Proximo Participante</button><br/>
            </div>

        </div>

    </div>


</body>
</html>